.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.horiz-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-color);
}

.page-content {
  width: 100%;
  max-width: calc(1176px + 264px);
  box-sizing: border-box;
  padding: 40px 132px 0 132px;
}

/**** SideBar ****/
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 96px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
}
.sidebar-wrapper > * {
  margin-bottom: 20px;
}
.sidebar-wrapper > img {
  width: 40px;
}
.sidebar-wrapper > a {
  text-decoration: none;
}
.sidebar-wrapper > a > div {
  font-size: 12px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.sidebar-wrapper > a > div.selected {
  color: rgba(0, 0, 0, 0.87);
}
.sidebar-wrapper > .logout-btn {
  position: absolute;
  bottom: 6px;
  left: 5;
  right: 5;
}

.empty-warning {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.empty-warning > h2 {
  margin: 0;
}
.empty-warning a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}
.empty-warning a.action {
  margin-left: 0;
}
.empty-warning button {
  margin-left: 20px;
}

.stripe-wrapper {
  width: calc(100% - 264px);
}
.stripe-warning {
  width: 100%;
  background-color: #ffa000 !important;
}
.stripe-warning a {
  text-decoration: none;
}
.stripe-warning p {
  margin: 0;
}
.stripe-connect {
  background-color: #a4a4a4;
  color: #0e0e0e;
  text-decoration: none;
  padding: 10px;
}

.temp-primary-button {
  background-color: #8dc63f !important;
}
.temp-primary-button:hover {
  background-color: #7bb42c !important;
}

.small-icon .MuiCardHeader-action {
  margin-top: 0;
  margin-right: 0;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
