:root {
  --primary-color: #05bce5;
  --secondary-color: #50769a;
  --error-color: #cd0b0b;
  --background-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.full-width {
  width: 100%;
}

/**** Background Images ****/
#logo-img {
  background-image: url('../images//logo.svg');
}
#background1-img {
  background-image: url('../images/background1.png');
}
#template1-img {
  background-image: url('../images/template1.png');
}
#template2-img {
  background-image: url('../images/template2.jpeg');
}
#parent-icon-img {
  background-image: url('../images/parent-icon.png');
}
#teacher-icon-img {
  background-image: url('../images/teacher-icon.png');
}
#organization-icon-img {
  background-image: url('../images/organization-icon.png');
}
