:root {
  --primary-color: #a852a8;
  --secondary-color: #ff6ab2;
  --purple-color: #944894;
  --pink-color: #ff62a5;
  --blue-color: #bfebff;
  --yellow-color: #efde66;
  --error-color: #e02222;
  --background-color: #120d26;
}

/* Handle Scrollbars in Firefox */
* {
  scrollbar-color:  var(--primary-color) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
/* Handle Scrollbars in Chrome, Safari, and Edge */
*::-webkit-scrollbar { width: 8px; }
*::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0); }
*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**** Background Images ****/
#background1-img {
  background-image: url('../images/background1.png');
  background-position: top center;
}
#students-img0,
#students-img1,
#students-img2,
#students-img3,
#students-img4,
#students-img5,
#students-img6 {
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 800ms ease;
}
#students-img0 {
  background-image: url('../images/students-min.jpg');
  background-position: 60% center;
}
#students-img1 {
  background-image: url('../images/students1-min.jpg');
  background-position: 70% center;
}
#students-img2 {
  background-image: url('../images/students2-min.jpg');
  background-position: 48% center;
}
#students-img3 {
  background-image: url('../images/students3-min.jpg');
  background-position: 56% center;
}
#students-img4 {
  background-image: url('../images/students4-min.jpg');
  background-position: 52% center;
}
#students-img5 {
  background-image: url('../images/students5-min.jpg');
  background-position: 11% center;
}
#students-img6 {
  background-image: url('../images/students6-min.jpg');
  background-position: 40% center;
}
#students-img7 {
  background-image: url('../images/students7-min.jpg');
  background-position: 55% center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
