:root {
  --primary-color: #0094de;
  --secondary-color: #7eb637;
  --error-color: #cd0b0b;
  --background-color: #f4f4f4;
}

/* Handle Scrollbars in Firefox */
* {
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
/* Handle Scrollbars in Chrome, Safari, and Edge */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**** Background Images ****/
#background1-img {
  background-image: url('../images/background1.png');
}
#students-img0,
#students-img1,
#students-img2,
#students-img3,
#students-img4,
#students-img5,
#students-img6 {
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 800ms ease;
}
#students-img0 {
  background-image: url('../images/students-min.jpg');
  background-position: 48% center;
}
#students-img1 {
  background-image: url('../images/students1-min.jpg');
  background-position: center center;
}
#students-img2 {
  background-image: url('../images/students2-min.jpg');
  background-position: 45% center;
}
#students-img3 {
  background-image: url('../images/students3-min.jpg');
  background-position: 56% center;
}
#students-img4 {
  background-image: url('../images/students4-min.jpg');
  background-position: 56% center;
}
#students-img5 {
  background-image: url('../images/students5-min.jpg');
  background-position: 58% center;
}
#students-img6 {
  background-image: url('../images/students6-min.jpg');
  background-position: 56% center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
