.login-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.login-form {
  width: 50%;
  min-width: 600px;
  max-width: 1200px;
  background-color: #dadada;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-form .MuiTextField-root {
  width: 70%;
  margin-bottom: 20px;
}

.login-form .options {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.login-form .options button {
  width: 40%;
}
