.signup-form {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  min-height: 300px;
  background-color: #dadada;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form h1 {
  margin-top: 0;
}

.signup-form > div {
  width: 100%;
}

.signup-form .inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.signup-form .inline select {
  margin-left: 20px;
}

.signup-form label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-form label {
  width: 20;
}

.signup-form label.collapse {
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.signup-form label.tall {
  margin: 20px 0;
  flex-direction: column;
}

.signup-form label input[type='text'],
.signup-form label input[type='password'] {
  height: 26px;
  width: calc(50% + 4px);
  outline: none;
  border: none;
  border-radius: 22px;
  padding: 7px 10px;
  transition: 100ms ease;
  box-sizing: border-box;
  margin: 10px 0;
}

.signup-form label textarea {
  max-width: 70%;
  min-width: 70%;
  min-height: 100px;
  margin-top: 20px;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: 100ms ease;
}
.signup-form label textarea:focus {
  border: 2px solid var(--primary-color);
}

.signup-form label input[type='checkbox'] {
  margin-left: 40px;
}

.signup-form input:focus {
  border: 2px solid var(--primary-color);
  padding: 5px 8px;
}

.signup-form button {
  width: 50%;
  height: 30px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 30px;
  opacity: 0.8;
  transition: 200ms ease;
  cursor: pointer;
  outline: none;
}

.signup-form button:hover,
.signup-form button:focus {
  opacity: 1;
}

.errormessage {
  color: red;
}
