.full {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.half > div {
  width: 80%;
  margin: 10px 0;
}

.pickers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pickers > div {
  width: 48%;
  margin-bottom: 20px;
}

.days-of-week {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number-data {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.number-data > div {
  width: 16%;
}

.inner-page {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.back-button {
  position: absolute !important;
  top: 10px;
  left: 10px;
}
