.full {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.half > div {
  width: 80%;
  margin: 10px 0;
}

.pickers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pickers > div {
  width: 48%;
  margin-bottom: 20px;
}

.days-of-week {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number-data {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.number-data > div {
  width: 16%;
}

.inner-page {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.back-button {
  position: absolute !important;
  top: 10px;
  left: 10px;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.actions > button {
  margin: 0 5px;
}

.delete-card {
  width: 50%;
  min-height: 40vh;
  box-sizing: border-box;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-card > h1 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

.delete-card > .options {
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/**** InfoCard ****/
.infocard-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.infocard-header > img {
  max-width: 58%;
  max-height: 370px;
  border-radius: 4px;
}
.infocard-header > div {
  width: 42%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  padding-bottom: 0;
}
.infocard-header h5 {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-weight: 400;
}
.infocard-header p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
}
.infocard-header .inliner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.infocard-header .inliner p {
  margin-right: 24px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.infocard-header .inliner p:last-child {
  margin-right: 0;
}
.infocard-header .inliner.big p {
  font-size: inherit;
  line-height: inherit;
}
.infocard-header .description {
  text-align: left;
  width: 100%;
  height: 100px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 40px;
}
.infocard-header .bottom-line {
  width: 100%;
  height: 0px;
  border: 1px solid #e0e0e0;
}
.infocard-header .progress-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.infocard-header .progress-label h6 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}
.infocard-header .progress-label p {
  width: 108px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1.5px;
}
.infocard-header .progress-bar {
  width: 100%;
  margin-bottom: 26px;
}
